
<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Películas Nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [movies]="recent_movies"></app-slideshow-backdrop>


  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [movies]="recent_movies"></app-slideshow-poster>


  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [movies]="popular_movies"></app-slideshow-poster>

</ion-content>
